.row {
   max-width: $grid-width;
   margin: 0 auto;

   &:not(:last-child) {
      //zaznacza wszystko poza last child
      margin-bottom: $row-margin;
   }

   @include clearfix;

   [class^='col'] {
      float: left;

      &:not(:last-child) {
         margin-right: $col-margin;
      }
   }

   .col1of2 {
      width: calc((100% - #{$col-margin}) / 2);
   }

   .col1of3 {
      width: calc(((100% - 2 * #{$col-margin}) / 3));
   }

   .col1of4 {
      width: calc(((100% - 3 * #{$col-margin}) / 4));
   }

   .col2of3 {
      width: calc(((100% - 2 * #{$col-margin}) / 3) * 2 + #{$col-margin});
   }

   .col2of4 {
      width: calc(2 * ((100% - 3 * #{$col-margin}) / 3) + #{$col-margin});
   }

   .col3of4 {
      width: calc(3 * ((100% - 3 * #{$col-margin}) / 4) + #{$col-margin});
   }
}
